/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0
}
